{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%block title%}{%endblock%}</title>
        <link rel="stylesheet" href="{%static 'css/base.css' %}">
        <link rel="stylesheet" href="{%static 'css/card.css' %}"> 
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{%static 'vendor/fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/css/fontawesome.min.css'%}">
        <link rel="stylesheet" href="{%static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
        {%block extra%}{%endblock%}

    </head>
    <body>
        <header>
            <nav>
              <input type="checkbox" id="check">
              <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
              </label>
              <label class="logo">PharmaDeal</label>
              <ul>
                    
                    {% if request.session.privilege == 'distributors'%}
                    <div class="nav-links">
                        <li ><a href="{%url 'inventory'%}" >Inventory  <i class="fa fa-plus-square" aria-hidden="true"></i></a></li>
                        <li ><a href="{%url 'browse'%}">Products <i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
                        <li ><a href="{%url 'showpro'%}">Profile  <i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li ><a href="{%url 'create'%}">Add Product  <i class="fa fa-cart-plus" aria-hidden="true"></i></a></li> 
                        <li ><a href="{%url 'post_check'%}">Requests  <i class="fa fa-question-circle" aria-hidden="true"></i></i></a></li> 
                        <li ><a href="{%url 'login'%}">Logout  <i class="fa fa-sign-out" aria-hidden="true"></i></a></li> 
                    </div>
                        
                    {% endif %}
                    {% if request.session.privilege == 'pharmacies'%}
                        
                    <div class="nav-links">    
                        <li ><a href="{%url 'cart_check'%}" >Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li ><a href="{%url 'browse'%}">Products <i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
                        <li ><a href="{%url 'showpro'%}">Profile  <i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li ><a href="{%url 'login'%}">Logout  <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    </div> 
                    {% endif %}
                    
                    {% block nav %}{% endblock %}
            </ul>
            </nav>
        </header>
        <div class="block-content">
            {% block content %}
    
            {% endblock %}
        </div>
        </div>
        <footer>
            <div class="container">
                <div class="left sector">
                    <h2>About Us</h2>
                    <div class="footer-content">
                        <p>MultiWebPress is a educational blog where we post blogs related to Website Development, Technology, Tips & Hacks and much more creative coding stuff.</p>
                    <div class="social">
                        <a href="https://multiwebpress.com"><span class="fab fa-facebook-f"></span></a>
                        <a href="https://instagram.com/multiwebpress"><span class="fab fa-instagram"></span></a>
                        <a href="https://www.youtube.com/channel/UCvB-4cVzkhvu4TkTy1hs9zA"><span class="fab fa-youtube"></span></a>
                    </div>
                    </div>
                </div>

                <div class="center sector">
                    <h2>Contact Us</h2>
                    <div class="footer-content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text"> New York, USA</span>
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone-alt"></span>
                            <span class="text"> +98-76543210</span>
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text"> contact@example.com</span>
                        </div>
                    </div>
                </div>

                <div class="right sector">
                    <h2>Subscribe</h2>
                    <div class="footer-content">
                        <form action="#">
                            <div class="email">
                                <div class="text">Email*</div>
                            </div>
                            <input type="email" required>
                            <div class="btn">
                                <button type="submit">SUBSCRIBE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <center>
                    <div><span>Powered By <a href="https://www.multiwebpress.com">© 2021 | All Rights Reserved | Made By Multiwebpress</a></span></div>
                </center>
            </div>
        </footer>
    </body>

{% block javascript %}
{% endblock %}

</html>