{% extends 'base.html' %}
<!-- {% load static %} -->
  {% block title %}
    Homepage
  {% endblock %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  {%block content%}
    <section>
      <div>
        <br>
        <div>
          <form action="{%url 'search'%}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='input-group'>
              <div class="main">
                <input type="text"  id="form1" placeholder="Search...." name="search" class="form-control">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> </button> 
              </div>
            </div>
          </form>
        </div>
        <br>
        <div>
          <form action="{%url 'filters'%}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="main">
              <select  class="form-control" name ='filter'>
                <option value="drug"> Drug</option>
                <option value="accessories"> Accessories</option>
                <option value="medical_equipment">Medical equipment</option>
              </select>
              <button type="submit" ><i class="fas fa-filter"></i></button> 
            </div>
          </form>
        </div>
        <div class="cards">
          <div class="services">
          {% for product in products.values %}
            
              <div class="content content-1">
                <a href="{% url 'single_product' product.product_id %}">
                  <img class="card-img-top" src="{{product.product_image}}" style="height:200px;">
                </a>
                <div class="card-body">
                  <p>Name: {{product.product_name}} </p>
                  <!--
                  <p>Description: {{product.description}} </p>-->
                  <p>Brand: {{product.brand}}</p>
                  
                 <!-- <p>Manufacturing company: {{product.manufacturing_company}}</p>-->
                 <!-- <p>Form of preparation: {{product.form_of_preparation}}</p>-->
                  <p>Category: {{product.category.capitalize}} </p>
                  <p>Price: {{product.price}} </p>
                  <!--
                    <p>Manufacturing date: {{product.manufacturing_date}} </p>
                  <p>Expiry date: {{product.expiry_date}}</p>
                  -->
                  {% if request.session.privilege == 'pharmacies'%}
                  <form action="{%url 'post_create'%}" method="POST" id="Addtocart">
                    {% csrf_token %} 
                    <input type="hidden" name="url" value="{{product.product_image}}">
                    <input type="hidden" name="medicine" value="{{product.product_name}}">
                    <input type="hidden" name="distributor" value="{{product.user_id}}">
                    <input type="hidden" name="product_id" value="{{product.product_id}}">      
                    <input type="hidden" name="cost" value="{{product.price}}">
                    <button class="addtocartbtn" type="submit"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:1.2em; margin:5px;"></i>    Add to cart</button>
                  </form>
                  {%endif%}
                </div>        
              </div>
            
          {% endfor %}
        </div>
        </div>
      </div>
    </section><!-- End Portfolio Section -->
  {%endblock%}
</html>