{%extends 'base.html'%}
{% block title %}
    Cart
{% endblock %}

{%block content%}
    <body style="max-width: 100%; overflow-x: hidden;">
        <br>
        <br>
        <br>
        <div>
            <div>
                
            </div>
            <br> 
            <div class="cards">
                <h1 class="header">
                    My Cart {{e}}
                </h1>
                <div class="services">
                {% for request in pharma_requests.values %}
                    
                        <div class="content content-1">
                            <img  src="{{request.product_image}}" style="height: 200px;">
                            <div>                       
                                <div>
                                    <p >Medicine : {{request.product_name}}</p>
                                    <p>Distributor's phone number: {{request.distributor_number}}</p>
                                    <p>Cost : {{request.price}}</p>
                                    <p>Date : {{request.time_of_request}} &nbsp;</p>
                                    {%if request.status == 'pending' %}
                                    <p id="status" style="color: rgb(0, 255, 42);">Status : Pending</p> 
                                    {%elif request.status == 'accepted' %}
                                    <p id="status" style="color: blue;">Status : Accepted</p>
                                    {%elif request.status == 'declined' %}
                                    <p id="status" style="color: red;">Status : Declined</p>
                                    {%endif%}
                                </div>
                                {%if request.status == 'accepted' %}
                                
                                <form id="review_button" action="{%url 'review_and_rate'%}?url={{request.product_image | urlencode}}" method="POST">
                                    {% csrf_token %}   
                                    <input type="hidden" name="transaction_status" value="{{request.status}}">
                                    <input type="hidden" name="pharma_id" value="{{request.pharmacy_id}}">
                                    <input type="hidden" name="product_id" value="{{request.product_id}}">
                                    <input type="hidden" name="owner_name" value="{{request.distributor_name}}">
                                    <input type="hidden" name="product_name" value="{{request.product_name}}">
                                    <input type="hidden" name="cost" value="{{request.price}}">
                                    <button class="reviewbtn" type="submit" > Review</button>
                                </form>
                                {%endif%}
                                     
                                <br>
                            </div>
                        </div>
                    
                {% endfor %}
            </div>
            </div>
        </div>
    </body>
{%endblock%}