<!DOCTYPE html>
<html>

<head>
    <style>
        div {
            position: absolute;
            right: 10px;
            top: 5px;

        }
    </style>

</head>

<body>

    <div>
        <form method="get" action="/check" id="s">
            {% csrf_token %}
            <input type="text" placeholder="Search here..." name="search">
            <input type="hidden" value="{{uid}}">
            <button type="submit" onclick="location.href='/check/?uid={{uid}}'" form="s">GO</button>




        </form>
    </div>

    Welcome {{e}}
    <br>
    <br> {% for time,date,req in comb_lis %} Date : {{date}} &nbsp; Request :
    <a href="/transaction/post_check/?z={{time}}"> {{req}} </a>
    <br>
    <br>{% endfor %}

</body>

</html>