{% extends 'base.html' %}
{% load static %}
{% block title %}
Homepage
{% endblock %}
<br>
{% block content %}
<h1> Create a Product </h1>


<br>

<form action="{%url 'create'%}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}


    <table>{{create_form.as_table}}</table>
    <label for='category' style="font-weight: bold;">Choose a Category:</label>

    <br>
    <label for='pro_image' style="font-weight: bold;">Add Image:</label>
    <input type='file' name='pro_image'>
    <br>
    <input type="submit" value="Enter">
</form>
{% endblock %}