{% extends 'base.html' %}
{% load static %}
{% block title %}
Homepage
{% endblock %}
<br>
{% block content %}


    <div class="create-page">
        <h1 class="create-title" style="position: relative; text-align: center;"> Create a Product </h1>
        <form class="create-form" action="{%url 'create'%}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class='formgroup'>
                {{create_form}}
            </div>
            <br>
            <label for='pro_image'  class="form-label">Add Image:</label>
            <input style='width:400px;' class='form-control' type='file' name='pro_image'>
            <div class='createbtndiv'>
                <input class="updatebtn" type="submit" value="Create">
            </div>
        </form>
    </div>

{% endblock %}