<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1> Browse Products </h1>  
  {% block content %}
  <a href="{%url 'login'%}">Logout</a>
  <a href="{%url 'create'%}">Create Products </a>
  <a href="{%url 'browse'%}">Browse for Products </a>
  <a href="{%url 'login'%}">Logout</a>

  {% endblock %}
   {% for product in user_inventory.values %}
   <div>
  <p><img src="{{product.product_image}}" width="70" height="70"></p>
  <p> Name: {{product.product_name}} </p>
  <p> Description: {{product.description}} </p>
  <p>Brand: {{product.brand}}</p>
  <p>Manufacturing company: {{product.manufacturing_company}}</p>
  <p>Form of preparation: {{product.form_of_preparation}}</p>
  <p> Category: {{product.category}} </p>
  <p> Price: {{product.price}} </p>
  <p> Manufacturing date: {{product.manufacturing_date}} </p>
  <p> Expiry date: {{product.expiry_date}}</p>
  <a href="{% url 'update' product.product_id %}"><button type="button">Update</button></a> <a href="{% url 'delete' product.product_id %}"><button type="button">Delete</button></a> <a><button type="button">Review</button></a>
</div>
  <br>
  {% endfor %}
  
</body>
</html>