{% extends 'base.html' %}
{% load static %}
  {% block title %}
    Owner's Page
  {% endblock %}
  {% block content %}
    <section id="portfolio" class="portfolio">
      <div class="container" style="margin-top: 50px;">
        <div class="section-title">
          <h1> <i class="fa fa-plus-square" aria-hidden="true">  Inventory</i>  </h1>
        </div>
        <br> 
        <br>
        <!-- <div class="section-title">
          <a href="{%url 'login'%}">Logout</a>
          <a href="{%url 'create'%}">Create Products </a>
          <a href="{%url 'browse'%}">Browse for Products </a>
          <a href="{%url 'login'%}">Logout</a>
        </div> -->
        <!-- <br> -->

        <div class="row portfolio-container">
          {% for product in user_inventory.values %}
            <div class="col-lg-4 col-md-6  filter-app wow fadeInUp">
              <div class=" card my-2" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
                <img class="card-img-top" src="{{product.product_image}}" style="height:200px;" >
                <div class="card-body"> 
                  <p>Name: {{product.product_name}} </p>
                  <p>Description: {{product.description}} </p>
                  <p>Brand: {{product.brand}}</p>
                  <p>Manufacturing company: {{product.manufacturing_company}}</p>
                  <p>Form of preparation: {{product.form_of_preparation}}</p>
                  <p> Category: {{product.category}} </p>
                  <p> Price: {{product.price}} </p>
                  <p> Manufacturing date: {{product.manufacturing_date}} </p>
                  <p> Expiry date: {{product.expiry_date}}</p>
                  <a href="{% url 'update' product.product_id %}?owner_id={{product.user_id}}"><button class="btn btn-outline-primary" type="submit" form = "update_form"><i class="fa fa-wrench" aria-hidden="true"></i> Update</button></a>
                  <a href="{% url 'delete' product.product_id %}?owner_id={{product.user_id}}"><button class="btn btn-outline-danger" type="submit" form = "delete_form"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button></a>
                  <!--<form action="{% url 'update' product.product_id %}" method="POST" enctype="multipart/form-data" id="update_form">
                    {% csrf_token %}
                    <input type='hidden' name = 'owner_id' value="{{product.user_id}}">
                  </form>
                  <form action="{% url 'delete' product.product_id %}" method="POST" enctype="multipart/form-data" id="delete_form">
                    {% csrf_token %} 
                    <input type='hidden' name = 'owner_id' value="{{product.user_id}}">
                  </form> -->
                  <!--<a href="{% url 'update' product.product_id %}"><button type="button">Update</button></a> <a
                    href="{% url 'delete' product.product_id %}"><button type="button">Delete</button></a> <a><button type="button">Review</button></a>-->
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {%endblock%}
