<!DOCTYPE html>
<html>

<head>


</head>

<body>



    Welcome {{e}}
    <br>
    <br> Date : {{d}}
    <br> Pharmacy : {{p}}
    <br> Medicine : {{m}}
    <br> Cost : {{c}}
    <br> Image :
    <br>
    <img src="{{i}}" width="50%" height="50%">

    <br>


    <form action="{%url 'accept'%}" method="POST">
        {% csrf_token %}
        <input type="text" id="acc" name="key">
        <input type="submit" value="Accept">
        <script>
            document.getElementById('acc').value = "{{t}}"
            document.getElementById("acc").style.display = "none"

        </script>
    </form>



    <form action="{%url 'decline'%}" method="POST">
        {% csrf_token %}
        <input type="text" id="dec" name="key">
        <input type="submit" value="Decline">
        <script>
            document.getElementById('dec').value = "{{t}}"
            document.getElementById("dec").style.display = "none"

        </script>
    </form>


</body>


</html>