<!DOCTYPE html>
<html>

<head>


</head>

<body>



    Welcome {{e}}
    <br> {% for lis_time,date,ph,me,co,img in comb_lis %} Date : {{date}} &nbsp; Request :
    <br>
    <br> Pharmacy : {{ph}}
    <br> Medicine : {{me}}
    <br> Cost : {{co}}
    <br> li : {{lis_time}}
    <br> Image :
    <br>
    <img src="{{img}}" width="10%" height="10%">
    <br>
    <form action="{%url 'accept'%}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="lis_time" value="{{lis_time}}">
        <input type="submit" value="Accept">
    </form>
    <form action="{%url 'decline'%}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="lis_time" value="{{lis_time}}">
        <input type="submit" value="Decline">
    </form>

    <br>
    <br>
    <br>{% endfor %}






</body>


</html>