{%extends "base.html"%}

{%block content%}
    <br>
    <br>
    <br>
    <div class="row portfolio-container">
        <div class="col-lg-6 col-md-8 mx-auto filter-app wow fadeInUp">
            <div class=" card my-2" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
                <img class="card-img-top" src="{{product.product_image}}" style="height:200px;" >
                <div class="card-body"> 
                    <p>Name: {{product.product_name}} </p>
                    <p>Description: {{product.description}} </p>
                    <p>Brand: {{product.brand}}</p>
                    <p>Manufacturing company: {{product.manufacturing_company}}</p>
                    <p>Form of preparation: {{product.form_of_preparation}}</p>
                    <p>Category: {{product.category}} </p>
                    <p>Price: {{product.price}} </p>
                    <p>Manufacturing date: {{product.manufacturing_date}} </p>
                    <p>Expiry date: {{product.expiry_date}}</p>
                    <br>
                </div>
            </div>
            <br>
            <h2 class="h2 mx-auto">Reviews</h2>
            <br>
            {% for review in reviews.values %}
            <div class="card my-2" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
                <div class="card-body">
                    <p style="font-size: 25px; font-weight: 400;">By:  {{review.user_name}}</p>
                    {% if review.user_rating == '1' %}
                    <span>&#11088;</span>
                    {%elif review.user_rating == 2%}
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    {%elif review.user_rating == '3'%}
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    {%elif review.user_rating == '4'%}
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    {%elif review.user_rating == '5'%}
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    <span>&#11088;</span>
                    {%endif%}
                    <br>
                    <p style="font-size: 20px; font-weight: 300px; padding-top: 8px;">  {{review.user_review}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>              
{%endblock%}