{% extends 'base.html' %}
{% load static %}
{% block title %}
Update
{% endblock %}
<br>
<br>
{% block content %}
<br>
<br>
<br>
<br>
<h1 style="position: relative; text-align: center;"> Update Product </h1>
<hr style='border-top: 3px dotted  rgb(41, 40, 40);width: 80%;'>
<div class='update-page' style="font-weight: 500;position: relative; padding-left: 30%;width: 100%;">
<img src="{{single_product.val.product_image}}" width="150" height="150"  style="margin-left: 10%;margin-bottom: 3%;">
<form action="{%url 'update' single_product.val.product_id%}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class='form-group'>
    {{update_form}}
</div>
    <br>
    <input type='hidden' name = 'owner_id' value="{{single_product.val.user_id}}">
    <label for='pro_image' class="form-label">Change Image:</label>
    <input style='width:400px;' class='form-control' type='file' name='pro_image' >
    <br>
    <div class='form-group'>
    <input class='btn btn-success' type="submit" value="Change">
</div>
</form>
</div>
{% endblock %}